OPENAI_API_KEY=tu_clave_aqui
OPENAI_MODEL=gpt-5-mini
PORT=8787
SCHOOL_NAME=Innova School
TUTOR_NAME=Profesor Andrés
TUTOR_SUBJECT=natural_sciences
AVATAR_URL=https://i.postimg.cc/hjYGs0F0/PROFE-ANDRES-CIENCIAS-NATURALES.png
