OPENAI_API_KEY=tu_clave_aqui
OPENAI_MODEL=gpt-5-mini
PORT=8787
SCHOOL_NAME=Virtual Planet
TUTOR_NAME=Profesor Esteban
TUTOR_SUBJECT=mathematics
AVATAR_URL=https://i.postimg.cc/449HM2DP/PROFE-ESTEBAN-MATH.png
